.root {
  display: inline-block;
  position: relative;
  width: auto;
  height: auto;
  justify-self: flex-start;
}
.text__nPqm7 {
  position: absolute;
  left: 0px;
  top: 0px;
}
.text__vGz8N {
  position: absolute;
  left: 0px;
  top: 0px;
}
