@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand%3Aital%2Cwght%400%2C400&family=Bubblegum+Sans%3Aital%2Cwght%400%2C400&family=Caveat+Brush%3Aital%2Cwght%400%2C400&family=Inconsolata%3Aital%2Cwght%400%2C200%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C800%3B0%2C900&display=swap");

.plasmic_tokens {
  --token-sxIBApPjX-Fe: #01b0ee;
  --plasmic-token-banner-blauw: var(--token-sxIBApPjX-Fe);
  --token-caJpLkEVzPDf: #231f20;
  --plasmic-token-logo-jong: var(--token-caJpLkEVzPDf);
  --token-Uo0O_2rXQUhn: #fdeb07;
  --plasmic-token-logo-geel: var(--token-Uo0O_2rXQUhn);
  --token-JJTBi2K4m0YK: #ec038b;
  --plasmic-token-logo-roze: var(--token-JJTBi2K4m0YK);
  --token-MAwYLXD7SX_a: Patrick Hand;
  --plasmic-token-infoboekje-font: var(--token-MAwYLXD7SX_a);
  --token-40fVlB_6AXUO: Bubblegum Sans;
  --plasmic-token-titels: var(--token-40fVlB_6AXUO);
  --token-Is-Zu7P21haf: #ffffff;
  --plasmic-token-wit: var(--token-Is-Zu7P21haf);
  --token-Z00dVGLFh74v: #f9f3e8;
  --plasmic-token-achtergrond-primair: var(--token-Z00dVGLFh74v);
  --token-OkEuylL3uhyD: #67b66e;
  --plasmic-token-blokjes-groen: var(--token-OkEuylL3uhyD);
  --token-fsZw4a8aeOXR: #eb6b44;
  --plasmic-token-blokjes-oranje: var(--token-fsZw4a8aeOXR);
  --token-jhvf5ofKGSju: #ee81b2;
  --plasmic-token-blokjes-roze: var(--token-jhvf5ofKGSju);
  --token-bTrn1wM5THa9: #fcd83a;
  --plasmic-token-blokjes-geel: var(--token-bTrn1wM5THa9);
  --token-S2nVqIQfu489: Caveat Brush;
  --plasmic-token-quotes-en-kleine-titels: var(--token-S2nVqIQfu489);
  --token-zU-rP_-NwEIs: #2e512f;
  --plasmic-token-hoodies-groen: var(--token-zU-rP_-NwEIs);
  --token-ACc7xBj-bUzG: #67b66e80;
  --plasmic-token-achtergrond-secundair: var(--token-ACc7xBj-bUzG);
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-wchpBu9lte31_font-family: var(--token-MAwYLXD7SX_a);
  --mixin-wchpBu9lte31_font-weight: 400;
  --mixin-wchpBu9lte31_font-style: normal;
  --mixin-wchpBu9lte31_color: var(--token-caJpLkEVzPDf);
  --mixin-wchpBu9lte31_text-align: left;
  --mixin-wchpBu9lte31_text-transform: none;
  --mixin-wchpBu9lte31_letter-spacing: normal;
  --mixin-wchpBu9lte31_white-space: pre-wrap;
  --mixin-wchpBu9lte31_user-select: text;
  --mixin-wchpBu9lte31_text-decoration-line: none;
  --mixin-wchpBu9lte31_text-overflow: clip;
  --mixin-XPzF9QVdYWz2_color: var(--token-caJpLkEVzPDf);
  --mixin-XPzF9QVdYWz2_font-weight: 700;
  --mixin-XPzF9QVdYWz2_font-size: 4em;
  --mixin-XPzF9QVdYWz2_line-height: 1;
  --mixin-XPzF9QVdYWz2_letter-spacing: -1px;
  --mixin-XPzF9QVdYWz2_font-family: var(--token-40fVlB_6AXUO);
  --mixin-XPzF9QVdYWz2_text-align: center;
  --mixin-XPzF9QVdYWz2_text-decoration-line: none;
  --mixin-XPzF9QVdYWz2_border-bottom-style: solid;
  --mixin-XPzF9QVdYWz2_border-bottom-width: 0.05em;
  --mixin-XPzF9QVdYWz2_border-bottom-color: var(--token-2aHIw8xI62Xi);
  --mixin-XPzF9QVdYWz2_margin-top: 20px;
  --mixin-XPzF9QVdYWz2_white-space: pre-wrap;
  --mixin-SRt_FaKOjHNN_color: var(--token-zU-rP_-NwEIs);
  --mixin-SRt_FaKOjHNN_font-size: 48px;
  --mixin-SRt_FaKOjHNN_font-weight: 700;
  --mixin-SRt_FaKOjHNN_letter-spacing: -0.5px;
  --mixin-SRt_FaKOjHNN_line-height: 1.1;
  --mixin-SRt_FaKOjHNN_text-align: left;
  --mixin-SRt_FaKOjHNN_font-family: var(--token-40fVlB_6AXUO);
  --mixin-SRt_FaKOjHNN_text-decoration-line: none;
  --mixin-SRt_FaKOjHNN_border-top-color: var(--token-caJpLkEVzPDf);
  --mixin-SRt_FaKOjHNN_border-top-width: 4px;
  --mixin-SRt_FaKOjHNN_border-top-style: none;
  --mixin-SRt_FaKOjHNN_border-right-color: var(--token-caJpLkEVzPDf);
  --mixin-SRt_FaKOjHNN_border-right-width: 4px;
  --mixin-SRt_FaKOjHNN_border-right-style: none;
  --mixin-SRt_FaKOjHNN_border-bottom-color: var(--token-zU-rP_-NwEIs);
  --mixin-SRt_FaKOjHNN_border-bottom-width: 4px;
  --mixin-SRt_FaKOjHNN_border-bottom-style: solid;
  --mixin-SRt_FaKOjHNN_border-left-color: var(--token-caJpLkEVzPDf);
  --mixin-SRt_FaKOjHNN_border-left-width: 4px;
  --mixin-SRt_FaKOjHNN_border-left-style: none;
  --mixin-SRt_FaKOjHNN_background: none;
  --mixin-SRt_FaKOjHNN_margin-top: 0px;
  --mixin-SRt_FaKOjHNN_margin-right: 0px;
  --mixin-SRt_FaKOjHNN_margin-bottom: 0px;
  --mixin-SRt_FaKOjHNN_margin-left: 0px;
  --mixin-SRt_FaKOjHNN_padding-top: 0px;
  --mixin-SRt_FaKOjHNN_padding-right: 0px;
  --mixin-SRt_FaKOjHNN_padding-bottom: 0px;
  --mixin-SRt_FaKOjHNN_padding-left: 0px;
  --mixin-SRt_FaKOjHNN_text-transform: none;
  --mixin-SRt_FaKOjHNN_white-space: pre-wrap;
  --mixin-LI-M6svc_2OW_color: var(--token-JJTBi2K4m0YK);
  --mixin-LI-M6svc_2OW_background: none;
  --mixin-LI-M6svc_2OW_border-top-color: var(--token-JJTBi2K4m0YK);
  --mixin-LI-M6svc_2OW_border-top-width: 3px;
  --mixin-LI-M6svc_2OW_border-top-style: none;
  --mixin-LI-M6svc_2OW_border-right-color: var(--token-JJTBi2K4m0YK);
  --mixin-LI-M6svc_2OW_border-right-width: 3px;
  --mixin-LI-M6svc_2OW_border-right-style: none;
  --mixin-LI-M6svc_2OW_border-bottom-color: var(--token-JJTBi2K4m0YK);
  --mixin-LI-M6svc_2OW_border-bottom-width: 3px;
  --mixin-LI-M6svc_2OW_border-bottom-style: none;
  --mixin-LI-M6svc_2OW_border-left-color: var(--token-JJTBi2K4m0YK);
  --mixin-LI-M6svc_2OW_border-left-width: 3px;
  --mixin-LI-M6svc_2OW_border-left-style: none;
  --mixin-LI-M6svc_2OW_padding-top: 0px;
  --mixin-LI-M6svc_2OW_padding-right: 5px;
  --mixin-LI-M6svc_2OW_padding-bottom: 0px;
  --mixin-LI-M6svc_2OW_padding-left: 5px;
  --mixin-LI-M6svc_2OW_font-family: var(--token-MAwYLXD7SX_a);
  --mixin-LI-M6svc_2OW_font-weight: 800;
  --mixin-LI-M6svc_2OW_text-align: center;
  --mixin-LI-M6svc_2OW_box-shadow: none;
  --mixin-LI-M6svc_2OW_cursor: pointer;
  --mixin-LI-M6svc_2OW_filter: blur(0px);
  --mixin-LI-M6svc_2OW_transition-property: all;
  --mixin-LI-M6svc_2OW_transition-duration: 0.25s;
  --mixin-LI-M6svc_2OW_text-decoration-line: underline;
  --mixin-LI-M6svc_2OW_border-top-left-radius: 10px;
  --mixin-LI-M6svc_2OW_border-top-right-radius: 10px;
  --mixin-LI-M6svc_2OW_border-bottom-right-radius: 10px;
  --mixin-LI-M6svc_2OW_border-bottom-left-radius: 10px;
  --mixin-LI-M6svc_2OW_font-style: normal;
  --mixin-LI-M6svc_2OW_white-space: pre-wrap;
  --mixin-uqAOELPkIOIO_color: #000000;
  --mixin-uqAOELPkIOIO_font-size: 1.5em;
  --mixin-uqAOELPkIOIO_font-weight: 700;
  --mixin-uqAOELPkIOIO_line-height: 1.2;
  --mixin-uqAOELPkIOIO_font-family: var(--token-S2nVqIQfu489);
  --mixin-uqAOELPkIOIO_white-space: pre-wrap;
  --mixin-O0cu23PGdzEY_color: #000000;
  --mixin-O0cu23PGdzEY_font-size: 24px;
  --mixin-O0cu23PGdzEY_font-weight: 600;
  --mixin-O0cu23PGdzEY_line-height: 1.3;
  --mixin-O0cu23PGdzEY_white-space: pre-wrap;
  --mixin-zq31-KFnN7UE_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-zq31-KFnN7UE_border-bottom-color: #dddddd;
  --mixin-zq31-KFnN7UE_border-bottom-style: solid;
  --mixin-zq31-KFnN7UE_border-bottom-width: 1px;
  --mixin-zq31-KFnN7UE_border-left-color: #dddddd;
  --mixin-zq31-KFnN7UE_border-left-style: solid;
  --mixin-zq31-KFnN7UE_border-left-width: 1px;
  --mixin-zq31-KFnN7UE_border-right-color: #dddddd;
  --mixin-zq31-KFnN7UE_border-right-style: solid;
  --mixin-zq31-KFnN7UE_border-right-width: 1px;
  --mixin-zq31-KFnN7UE_border-top-color: #dddddd;
  --mixin-zq31-KFnN7UE_border-top-style: solid;
  --mixin-zq31-KFnN7UE_border-top-width: 1px;
  --mixin-zq31-KFnN7UE_border-bottom-left-radius: 3px;
  --mixin-zq31-KFnN7UE_border-bottom-right-radius: 3px;
  --mixin-zq31-KFnN7UE_border-top-left-radius: 3px;
  --mixin-zq31-KFnN7UE_border-top-right-radius: 3px;
  --mixin-zq31-KFnN7UE_font-family: "Inconsolata";
  --mixin-zq31-KFnN7UE_padding-bottom: 1px;
  --mixin-zq31-KFnN7UE_padding-left: 4px;
  --mixin-zq31-KFnN7UE_padding-right: 4px;
  --mixin-zq31-KFnN7UE_padding-top: 1px;
  --mixin-zq31-KFnN7UE_white-space: pre-wrap;
  --mixin-pxe79lvOOVjH_border-left-color: #dddddd;
  --mixin-pxe79lvOOVjH_border-left-style: solid;
  --mixin-pxe79lvOOVjH_border-left-width: 3px;
  --mixin-pxe79lvOOVjH_color: #888888;
  --mixin-pxe79lvOOVjH_padding-left: 10px;
  --mixin-pxe79lvOOVjH_font-family: var(--token-S2nVqIQfu489);
  --mixin-pxe79lvOOVjH_white-space: pre-wrap;
  --mixin-Pw3Jq1l2JUiP_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-Pw3Jq1l2JUiP_border-bottom-color: #dddddd;
  --mixin-Pw3Jq1l2JUiP_border-bottom-style: solid;
  --mixin-Pw3Jq1l2JUiP_border-bottom-width: 1px;
  --mixin-Pw3Jq1l2JUiP_border-left-color: #dddddd;
  --mixin-Pw3Jq1l2JUiP_border-left-style: solid;
  --mixin-Pw3Jq1l2JUiP_border-left-width: 1px;
  --mixin-Pw3Jq1l2JUiP_border-right-color: #dddddd;
  --mixin-Pw3Jq1l2JUiP_border-right-style: solid;
  --mixin-Pw3Jq1l2JUiP_border-right-width: 1px;
  --mixin-Pw3Jq1l2JUiP_border-top-color: #dddddd;
  --mixin-Pw3Jq1l2JUiP_border-top-style: solid;
  --mixin-Pw3Jq1l2JUiP_border-top-width: 1px;
  --mixin-Pw3Jq1l2JUiP_border-bottom-left-radius: 3px;
  --mixin-Pw3Jq1l2JUiP_border-bottom-right-radius: 3px;
  --mixin-Pw3Jq1l2JUiP_border-top-left-radius: 3px;
  --mixin-Pw3Jq1l2JUiP_border-top-right-radius: 3px;
  --mixin-Pw3Jq1l2JUiP_font-family: "Inconsolata";
  --mixin-Pw3Jq1l2JUiP_padding-bottom: 3px;
  --mixin-Pw3Jq1l2JUiP_padding-left: 6px;
  --mixin-Pw3Jq1l2JUiP_padding-right: 6px;
  --mixin-Pw3Jq1l2JUiP_padding-top: 3px;
  --mixin-Pw3Jq1l2JUiP_white-space: pre-wrap;
  --mixin-dffSt9GVcJ2J_display: flex;
  --mixin-dffSt9GVcJ2J_flex-direction: column;
  --mixin-dffSt9GVcJ2J_align-items: stretch;
  --mixin-dffSt9GVcJ2J_justify-content: flex-start;
  --mixin-dffSt9GVcJ2J_list-style-position: outside;
  --mixin-dffSt9GVcJ2J_padding-left: 40px;
  --mixin-dffSt9GVcJ2J_position: relative;
  --mixin-dffSt9GVcJ2J_list-style-type: disc;
  --mixin-dffSt9GVcJ2J_white-space: pre-wrap;
  --mixin-83HQSPh610p9_display: flex;
  --mixin-83HQSPh610p9_flex-direction: column;
  --mixin-83HQSPh610p9_align-items: stretch;
  --mixin-83HQSPh610p9_justify-content: flex-start;
  --mixin-83HQSPh610p9_list-style-position: outside;
  --mixin-83HQSPh610p9_padding-left: 40px;
  --mixin-83HQSPh610p9_position: relative;
  --mixin-83HQSPh610p9_list-style-type: decimal;
  --mixin-83HQSPh610p9_white-space: pre-wrap;
  --mixin-rpPtP6V5weA6_color: #000000;
  --mixin-rpPtP6V5weA6_font-size: 20px;
  --mixin-rpPtP6V5weA6_font-weight: 600;
  --mixin-rpPtP6V5weA6_line-height: 1.5;
  --mixin-rpPtP6V5weA6_white-space: pre-wrap;
  --mixin-fTms20ovSfPd_color: #000000;
  --mixin-fTms20ovSfPd_font-size: 16px;
  --mixin-fTms20ovSfPd_font-weight: 600;
  --mixin-fTms20ovSfPd_line-height: 1.5;
  --mixin-fTms20ovSfPd_white-space: pre-wrap;
  --mixin-bSAEK7PAeEi-_color: #09adef;
  --mixin-bSAEK7PAeEi-_box-shadow: none;
  --mixin-bSAEK7PAeEi-_white-space: pre-wrap;
  --mixin-D2lLjgutuSd-_white-space: pre-wrap;
  --mixin-tFumTp6Y0Ywd_white-space: pre-wrap;
}

@media (min-width: 0px) and (max-width: 1000px) {
  .plasmic_default_styles {
    --mixin-XPzF9QVdYWz2_font-size: 2em;
    --mixin-XPzF9QVdYWz2_white-space: pre-wrap;
    --mixin-SRt_FaKOjHNN_font-size: 1.5em;
    --mixin-SRt_FaKOjHNN_white-space: pre-wrap;
  }
}

.plasmic_mixins {
  --mixin-cCewMw3L6m48_box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.2);
  --plasmic-mixin-navigatie-link-knop_box-shadow: var(
    --mixin-cCewMw3L6m48_box-shadow
  );
  --mixin-cCewMw3L6m48_white-space: pre-wrap;
  --plasmic-mixin-navigatie-link-knop_white-space: var(
    --mixin-cCewMw3L6m48_white-space
  );
  --mixin-T5uY3vHKd5nQ_white-space: pre-wrap;
  --plasmic-mixin-galerij-foto_white-space: var(
    --mixin-T5uY3vHKd5nQ_white-space
  );
  --mixin-uuf_9INd3uuv_white-space: pre-wrap;
  --plasmic-mixin-scheidlijn-onder_white-space: var(
    --mixin-uuf_9INd3uuv_white-space
  );
  --mixin-QskvxTauuJmL_white-space: pre-wrap;
  --plasmic-mixin-scheidlijn-boven_white-space: var(
    --mixin-QskvxTauuJmL_white-space
  );
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-wchpBu9lte31_font-family);
  font-weight: var(--mixin-wchpBu9lte31_font-weight);
  font-style: var(--mixin-wchpBu9lte31_font-style);
  color: var(--mixin-wchpBu9lte31_color);
  text-align: var(--mixin-wchpBu9lte31_text-align);
  text-transform: var(--mixin-wchpBu9lte31_text-transform);
  letter-spacing: var(--mixin-wchpBu9lte31_letter-spacing);
  white-space: var(--mixin-wchpBu9lte31_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-XPzF9QVdYWz2_color);
  font-weight: var(--mixin-XPzF9QVdYWz2_font-weight);
  font-size: var(--mixin-XPzF9QVdYWz2_font-size);
  line-height: var(--mixin-XPzF9QVdYWz2_line-height);
  letter-spacing: var(--mixin-XPzF9QVdYWz2_letter-spacing);
  font-family: var(--mixin-XPzF9QVdYWz2_font-family);
  text-align: var(--mixin-XPzF9QVdYWz2_text-align);
  text-decoration-line: var(--mixin-XPzF9QVdYWz2_text-decoration-line);
  margin-top: var(--mixin-XPzF9QVdYWz2_margin-top);
  border-bottom: var(--mixin-XPzF9QVdYWz2_border-bottom-width)
    var(--mixin-XPzF9QVdYWz2_border-bottom-style)
    var(--mixin-XPzF9QVdYWz2_border-bottom-color);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-SRt_FaKOjHNN_color);
  font-size: var(--mixin-SRt_FaKOjHNN_font-size);
  font-weight: var(--mixin-SRt_FaKOjHNN_font-weight);
  letter-spacing: var(--mixin-SRt_FaKOjHNN_letter-spacing);
  line-height: var(--mixin-SRt_FaKOjHNN_line-height);
  text-align: var(--mixin-SRt_FaKOjHNN_text-align);
  font-family: var(--mixin-SRt_FaKOjHNN_font-family);
  text-decoration-line: var(--mixin-SRt_FaKOjHNN_text-decoration-line);
  background: none;
  text-transform: var(--mixin-SRt_FaKOjHNN_text-transform);
  padding: var(--mixin-SRt_FaKOjHNN_padding-top)
    var(--mixin-SRt_FaKOjHNN_padding-right)
    var(--mixin-SRt_FaKOjHNN_padding-bottom)
    var(--mixin-SRt_FaKOjHNN_padding-left);
  margin: var(--mixin-SRt_FaKOjHNN_margin-top)
    var(--mixin-SRt_FaKOjHNN_margin-right)
    var(--mixin-SRt_FaKOjHNN_margin-bottom)
    var(--mixin-SRt_FaKOjHNN_margin-left);
  border-top: var(--mixin-SRt_FaKOjHNN_border-top-width)
    var(--mixin-SRt_FaKOjHNN_border-top-style)
    var(--mixin-SRt_FaKOjHNN_border-top-color);
  border-right: var(--mixin-SRt_FaKOjHNN_border-right-width)
    var(--mixin-SRt_FaKOjHNN_border-right-style)
    var(--mixin-SRt_FaKOjHNN_border-right-color);
  border-bottom: var(--mixin-SRt_FaKOjHNN_border-bottom-width)
    var(--mixin-SRt_FaKOjHNN_border-bottom-style)
    var(--mixin-SRt_FaKOjHNN_border-bottom-color);
  border-left: var(--mixin-SRt_FaKOjHNN_border-left-width)
    var(--mixin-SRt_FaKOjHNN_border-left-style)
    var(--mixin-SRt_FaKOjHNN_border-left-color);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-LI-M6svc_2OW_color);
  background: none;
  font-family: var(--mixin-LI-M6svc_2OW_font-family);
  font-weight: var(--mixin-LI-M6svc_2OW_font-weight);
  text-align: var(--mixin-LI-M6svc_2OW_text-align);
  box-shadow: var(--mixin-LI-M6svc_2OW_box-shadow);
  cursor: var(--mixin-LI-M6svc_2OW_cursor);
  filter: var(--mixin-LI-M6svc_2OW_filter);
  transition-property: var(--mixin-LI-M6svc_2OW_transition-property);
  transition-duration: var(--mixin-LI-M6svc_2OW_transition-duration);
  text-decoration-line: var(--mixin-LI-M6svc_2OW_text-decoration-line);
  font-style: var(--mixin-LI-M6svc_2OW_font-style);
  border-radius: var(--mixin-LI-M6svc_2OW_border-top-left-radius)
    var(--mixin-LI-M6svc_2OW_border-top-right-radius)
    var(--mixin-LI-M6svc_2OW_border-bottom-right-radius)
    var(--mixin-LI-M6svc_2OW_border-bottom-left-radius);
  padding: var(--mixin-LI-M6svc_2OW_padding-top)
    var(--mixin-LI-M6svc_2OW_padding-right)
    var(--mixin-LI-M6svc_2OW_padding-bottom)
    var(--mixin-LI-M6svc_2OW_padding-left);
  border-top: var(--mixin-LI-M6svc_2OW_border-top-width)
    var(--mixin-LI-M6svc_2OW_border-top-style)
    var(--mixin-LI-M6svc_2OW_border-top-color);
  border-right: var(--mixin-LI-M6svc_2OW_border-right-width)
    var(--mixin-LI-M6svc_2OW_border-right-style)
    var(--mixin-LI-M6svc_2OW_border-right-color);
  border-bottom: var(--mixin-LI-M6svc_2OW_border-bottom-width)
    var(--mixin-LI-M6svc_2OW_border-bottom-style)
    var(--mixin-LI-M6svc_2OW_border-bottom-color);
  border-left: var(--mixin-LI-M6svc_2OW_border-left-width)
    var(--mixin-LI-M6svc_2OW_border-left-style)
    var(--mixin-LI-M6svc_2OW_border-left-color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-uqAOELPkIOIO_color);
  font-size: var(--mixin-uqAOELPkIOIO_font-size);
  font-weight: var(--mixin-uqAOELPkIOIO_font-weight);
  line-height: var(--mixin-uqAOELPkIOIO_line-height);
  font-family: var(--mixin-uqAOELPkIOIO_font-family);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-O0cu23PGdzEY_color);
  font-size: var(--mixin-O0cu23PGdzEY_font-size);
  font-weight: var(--mixin-O0cu23PGdzEY_font-weight);
  line-height: var(--mixin-O0cu23PGdzEY_line-height);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-zq31-KFnN7UE_font-family);
  border-radius: var(--mixin-zq31-KFnN7UE_border-top-left-radius)
    var(--mixin-zq31-KFnN7UE_border-top-right-radius)
    var(--mixin-zq31-KFnN7UE_border-bottom-right-radius)
    var(--mixin-zq31-KFnN7UE_border-bottom-left-radius);
  padding: var(--mixin-zq31-KFnN7UE_padding-top)
    var(--mixin-zq31-KFnN7UE_padding-right)
    var(--mixin-zq31-KFnN7UE_padding-bottom)
    var(--mixin-zq31-KFnN7UE_padding-left);
  border-top: var(--mixin-zq31-KFnN7UE_border-top-width)
    var(--mixin-zq31-KFnN7UE_border-top-style)
    var(--mixin-zq31-KFnN7UE_border-top-color);
  border-right: var(--mixin-zq31-KFnN7UE_border-right-width)
    var(--mixin-zq31-KFnN7UE_border-right-style)
    var(--mixin-zq31-KFnN7UE_border-right-color);
  border-bottom: var(--mixin-zq31-KFnN7UE_border-bottom-width)
    var(--mixin-zq31-KFnN7UE_border-bottom-style)
    var(--mixin-zq31-KFnN7UE_border-bottom-color);
  border-left: var(--mixin-zq31-KFnN7UE_border-left-width)
    var(--mixin-zq31-KFnN7UE_border-left-style)
    var(--mixin-zq31-KFnN7UE_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-pxe79lvOOVjH_color);
  padding-left: var(--mixin-pxe79lvOOVjH_padding-left);
  font-family: var(--mixin-pxe79lvOOVjH_font-family);
  border-left: var(--mixin-pxe79lvOOVjH_border-left-width)
    var(--mixin-pxe79lvOOVjH_border-left-style)
    var(--mixin-pxe79lvOOVjH_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-Pw3Jq1l2JUiP_font-family);
  border-radius: var(--mixin-Pw3Jq1l2JUiP_border-top-left-radius)
    var(--mixin-Pw3Jq1l2JUiP_border-top-right-radius)
    var(--mixin-Pw3Jq1l2JUiP_border-bottom-right-radius)
    var(--mixin-Pw3Jq1l2JUiP_border-bottom-left-radius);
  padding: var(--mixin-Pw3Jq1l2JUiP_padding-top)
    var(--mixin-Pw3Jq1l2JUiP_padding-right)
    var(--mixin-Pw3Jq1l2JUiP_padding-bottom)
    var(--mixin-Pw3Jq1l2JUiP_padding-left);
  border-top: var(--mixin-Pw3Jq1l2JUiP_border-top-width)
    var(--mixin-Pw3Jq1l2JUiP_border-top-style)
    var(--mixin-Pw3Jq1l2JUiP_border-top-color);
  border-right: var(--mixin-Pw3Jq1l2JUiP_border-right-width)
    var(--mixin-Pw3Jq1l2JUiP_border-right-style)
    var(--mixin-Pw3Jq1l2JUiP_border-right-color);
  border-bottom: var(--mixin-Pw3Jq1l2JUiP_border-bottom-width)
    var(--mixin-Pw3Jq1l2JUiP_border-bottom-style)
    var(--mixin-Pw3Jq1l2JUiP_border-bottom-color);
  border-left: var(--mixin-Pw3Jq1l2JUiP_border-left-width)
    var(--mixin-Pw3Jq1l2JUiP_border-left-style)
    var(--mixin-Pw3Jq1l2JUiP_border-left-color);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-dffSt9GVcJ2J_display);
  flex-direction: var(--mixin-dffSt9GVcJ2J_flex-direction);
  align-items: var(--mixin-dffSt9GVcJ2J_align-items);
  justify-content: var(--mixin-dffSt9GVcJ2J_justify-content);
  list-style-position: var(--mixin-dffSt9GVcJ2J_list-style-position);
  padding-left: var(--mixin-dffSt9GVcJ2J_padding-left);
  position: var(--mixin-dffSt9GVcJ2J_position);
  list-style-type: var(--mixin-dffSt9GVcJ2J_list-style-type);
  flex-column-gap: var(--mixin-dffSt9GVcJ2J_flex-column-gap);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-83HQSPh610p9_display);
  flex-direction: var(--mixin-83HQSPh610p9_flex-direction);
  align-items: var(--mixin-83HQSPh610p9_align-items);
  justify-content: var(--mixin-83HQSPh610p9_justify-content);
  list-style-position: var(--mixin-83HQSPh610p9_list-style-position);
  padding-left: var(--mixin-83HQSPh610p9_padding-left);
  position: var(--mixin-83HQSPh610p9_position);
  list-style-type: var(--mixin-83HQSPh610p9_list-style-type);
  flex-column-gap: var(--mixin-83HQSPh610p9_flex-column-gap);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-rpPtP6V5weA6_color);
  font-size: var(--mixin-rpPtP6V5weA6_font-size);
  font-weight: var(--mixin-rpPtP6V5weA6_font-weight);
  line-height: var(--mixin-rpPtP6V5weA6_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  color: var(--mixin-fTms20ovSfPd_color);
  font-size: var(--mixin-fTms20ovSfPd_font-size);
  font-weight: var(--mixin-fTms20ovSfPd_font-weight);
  line-height: var(--mixin-fTms20ovSfPd_line-height);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-bSAEK7PAeEi-_color);
  box-shadow: var(--mixin-bSAEK7PAeEi-_box-shadow);
}

:where(.root_reset) li:where(.li),
li:where(.root_reset.li),
:where(.root_reset .__wab_expr_html_text) li,
:where(.root_reset_tags) li,
li:where(.root_reset_tags) {
}

:where(.root_reset) p:where(.p),
p:where(.root_reset.p),
:where(.root_reset .__wab_expr_html_text) p,
:where(.root_reset_tags) p,
p:where(.root_reset_tags) {
}
